h2: close connection with correct stream signalling on processing error

## Scope

When an https connection is closed or reset, a `close_notify` TLS alert is sent to the client. It's sufficient for http/1 connections, but we should also send a `GOAWAY`  frame on h2 connections.

RFC 7540 Section 5.4.1:
>    An endpoint that encounters a connection error SHOULD first send a
   GOAWAY frame (Section 6.8) with the stream identifier of the last
   stream that it successfully received from its peer.

If a GOAWAY frame is not sent, client loses information about safe request retries and can't automatically resend non idempotent requests.

Currently we have no policy, whether a stream or the connection in whole should be closed. And in case of errors, the whole h2 connection is closed. With normal clients it will increase incoming traffic, since clients will normally retry all the unreplied requests. 
