Missing functional tests for cache

We need more functional tests for correct handling of various cache Tempesta config options:

1. Options
   - [x] `cache_purge_acl`
     - include CIDR masks and single IP specifications
     - ensure overlapping entries are handled properly
     - ~include some dummy entries, ensure they don't influence real ones~
   - [x] `location` sections
     - include `location` sections that contradict rules inside them; ensure they have no effect
   - [x] `nonidempotent`
2. Improvements
   - [x] ~extend multiple-methods test with multiple URLs~
   - [x] run all cache tests (incl. elaborate ones) in all cache modes
3. Cache eviction (#515)
   - [x] ~test workload significantly larger than available RAM~ The test case is invalid since Tempesta DB is an in-memory dtatabase
   - [x] send responses with `Cache-Control: max-age=1` and check that 1 second later the response is fetched from the cache only if a request and our settings allow stale responses (check RFC 7234 chapter 5 and our Wiki)
4. Operation
   - [x] Check that `https://mysite/pic.jpg?myparam=test` and `https://mysite/pic.jpg?myparam2=test2` are cached separately
   - [x] Permanent redirects (e.g. 301 and 308) are cached, while temporal aren't

For heavy tests running in CI (#484) environment please make a tests verifying that each NUMA node depending on the cache mode is a replication of whole Web cache or a shard of particular part of content.

Resent #801 has added [RFC 7234 Section 4.3.2](https://tools.ietf.org/html/rfc7234#section-4.3.2) support making TempestaFW able to validate cache of it's clients. But only basic functional functional tests was introduced. Here is the full list of required tests:

- [ ] RFC 7232 Section-4.1: The server generating a 304 response MUST generate: Cache-Control, Content-Location, Date, ETag, Expires, and Vary. Last-Modified is generated if the response does not have an ETag header. Currently only _ETag_ and _Date_ are checked. Note, that all the listed headers affects cache behaviour.

If-None-Match
---------------
If-None-Match present, If-Modified-Since header is fully ignored:
- [ ] Client sends GET of HEAD with If-None-Match header, Tempesta replies with 304 if:
    - [x] ETag in If-None-Match equals to ETag of current representation stored in cache;
    - [x] Same as above, but ETag of stored response is tagged as weak;
    - [x] Same as above, but ETag in If-None-Match tagged as weak;
    - [x] Same as above, but all ETags are tagged as weak;
    - [x] If-None-Match lists several ETags, including ETag of stored resource;
    - [x] If-None-Match lists special keyword `*`;
    - [ ] Same for HEAD (only get are implemented).
- [ ] Client sends any cachable method except GET of HEAD (e.g. POST) with If-None-Match header, Tempesta replies with 412 in the same cases as above.
- [ ] If If-None-Match doesn't list Etag of stored response representation, TempestaFW send full response.
    - [x] GET
    - [ ] HEAD, POST, ...

If-Modified-Since:
--------------
If-None-Match is absent, If-Modified-Since header is processed. Only GET and HEAD are supported. Only GET is tested.
- [ ] If-Modified-Since has invalid HTTP date: the header is ignored, Tempesta sends the full response
- [ ] Stored response has Last-Modified header:
    - [x] If-Modified-Since is later than Last-Modified -> Tempesta sends 304
    - [x] If-Modified-Since is before than Last-Modified -> Tempesta sends the full answer
- [ ] Stored response has no Last-Modified header, but has Date header:
    - [ ] If-Modified-Since is later than Date -> Tempesta sends 304
    - [ ] If-Modified-Since is before than Date -> Tempesta sends the full answer
- [ ] Stored response has neither Last-Modified nor Date header:
    - [ ] If-Modified-Since is later than stored response was recieved -> Tempesta sends 304
    - [ ] If-Modified-Since is before than stored response was recieved -> Tempesta sends the full answer

See `tfw_handle_validation_req()` for implementation details.

Further tests for caching

- [ ]  [test 6 from #1516] Test the PURGE method rewrite logic for heavily chunked request, preferably to do this test on top of https://github.com/tempesta-tech/tempesta-test/issues/115 

Also fix the disabled tests for the issue.

Tests for `cache_ttl`:

- [ ] response with `no-store`. Tempesta must not change Cache-Control header;
- [ ] response with `private`. Tempesta must not change Cache-Control header;
- [ ] response with `s-maxage=10`. Tempesta must store response in cache for 10 sec;
- [ ] h2 tests;

Please also implement the scenario from https://github.com/tempesta-tech/tempesta/issues/515#issuecomment-762103542 :

Multiple parallel requests to large file
```
./wrk -d 3600 -c 16000 -t 8 -H 'connection: close' https://debian:443/research/web_acceleration_mechanics.pdf
```
combined with the Tempesta restart in the VM
```
# while :; do ./scripts/tempesta.sh --restart; sleep 30; done
```
sometimes produce warnings like
```
[ 1103.775556] [tdb] ERROR: out of free space
[ 1103.810415] [tdb] ERROR: out of free space
[ 1103.845177] [tdb] ERROR: Cannot allocate cache entry for key=0x37bed983985f3ea7
[ 1103.929897] [tdb] ERROR: out of free space
[ 1103.949002] [tdb] ERROR: Cannot allocate cache entry for key=0x37bed983985f3ea7
[ 1103.984315] [tdb] ERROR: out of free space
[ 1104.010543] [tdb] ERROR: Cannot allocate cache entry for key=0x37bed983985f3ea7
[ 1104.070816] [tdb] ERROR: out of free space
[ 1104.080997] [tdb] ERROR: Cannot allocate cache entry for key=0x37bed983985f3ea7
[ 1104.151540] [tdb] ERROR: out of free space
[ 1104.158845] [tdb] ERROR: Cannot allocate cache entry for key=0x37bed983985f3ea7
[ 1104.199489] [tdb] ERROR: out of free space
[ 1104.231891] [tdb] ERROR: Cannot allocate cache entry for key=0x37bed983985f3ea7
....
```