H2 related corrections and optimizations.

### Bugs

1. The header 'age' is added unconditionally [here](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/cache.c#L2044); thus, looks like it should be skipped in `tfw_cache_copy_resp()`;

2. [data = tfw_pool_alloc_not_align(it->pool, sz)](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/hpack.c#L1098) should be moved down - after the static index processing;

3. Header 'host' can have empty field-value [here](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/hpack.c#L1480) (this possibility is mentioned in [RFC 7230 section 5.4](https://tools.ietf.org/html/rfc7230#section-5.4));

4. Due to the nature of the internal implementation of encoder dynamic table in TempestaFW (for performance purposes), its maximum size is limited - it cannot be greater than HPACK_ENC_TABLE_MAX_SIZE; so for now, if client sends SETTINGS frame with new max window size greater than HPACK_ENC_TABLE_MAX_SIZE, the [table inconsistency](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/http_frame.c#L932) between endpoints may arise; to avoid this problem - the `WinodwUpdate` HEADERS frame with HPACK_ENC_TABLE_MAX_SIZE should be sent to client's decoder (within the first following HEADERS frame of the following SETTINGS acknowledgment, see [RFC 7541 section 4.2](https://tools.ietf.org/html/rfc7541#section-4.2));

5. The condition [here](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/http_frame.c#L771) should be 
```c
if (hclosed_streams->num <= TFW_MAX_CLOSED_STREAMS
   && (max_streams > ctx->streams_num
      || !hclosed_streams->num))
{
    . . .
}
```

6. [Duplicated `cookie` headers](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/http_msg.c#L528) should be concatenated before forwarding to HTTP/1.1 connection into one singular header ([RFC 7540 section 8.1.2](https://tools.ietf.org/html/rfc7540#section-8.1.2) p. 5 "Compressing the Cookie Header Field");

7. It seems like a bug [here](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/http_msg.c#L972), since the function is exiting in any case and the remainder of the `eolen` in the next fragment is not deleted; besides, `tfw_http_msg_del_eol()` function is completely unused for now, thus looks like it can be removed;

8. (TDB) For now TempestaFW [closes connection](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/http.c#L5064) in case of any errors during parsing the message, but in case of HTTP/2 connection the malformed messages should be treated as a stream error and not the connection-wide error, which means that connection should not be closed - only stream ([RFC7540 section 8.1.2](https://tools.ietf.org/html/rfc7540#section-8.1.2) p. 6 "Malformed Requests and Responses");

9. Looks like [assignment](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_db/core/main.c#L93) should be
```c
(*r)->len = curr_ptr - (*r)->data
```

10. Currently, [the stream pointer is reset](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/http_frame.c#L744) to avoid double calling of stream FSM if error occurred during response generation; this solution works for cases where possible `tfw_h2_stream_id_close()` calls are close to each other (e.g in `tfw_h2_resp_adjust_fwd()` procedure) and `stream_id` can be saved locally between calls; but this way is not suitable for the cases where `tfw_h2_stream_id_close()` calls are rather far apart - the example of such case is failed redirection response generating: if `tfw_h2_stream_id_close()` had been called in [tfw_h2_prep_redirect()](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/http.c#L421), but then the error occurred before the response is actually created/sent - the [tfw_h2_send_resp()](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/http.c#L927) will not send error response to the client, since `req->stream` is already NULL; to resolve the problem in general way, the `tfw_h2_stream_id_close()` function should be changed a little, to assign `id` to the special new internal field of `req->pit` (instead of returning it as now) and check it during subsequent processing (i.e. if the error response should be generated after failed forwarding response, or failed redirection response generating) - before calling `tfw_h2_stream_id_close()`; if this field is set (non-zero) then `tfw_h2_stream_id_close()` had already been called and it is needn't to be called again - just use the `id` saved in the field; if field is not set (zero) - then `tfw_h2_stream_id_close()` should be called; this field need not be synchronized, since it can be accessed only from one thread (unlikely the `req->stream` field) in which current request is processed now (during forwarding request to server, or forwarding corresponding response to client); this approach should allow to completely avoid the problem with multiple calling to `tfw_h2_stream_id_close()` during internal responses generation (including failed redirection response generating) and during server response forwarding.

### Optimizations

1. It seems that just one call of `tfw_http_hdr_split()` procedure can be used [here](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/cache.c#L1298) instead of `tfw_http_msg_srvhdr_val()` call and `tfw_h2_msg_hdr_length()` call below (i.e. for now @h_val and @s_val are two variables for the same instance);

2. In case of response forwarding (TFW_H2_TRANS_INPLACE type of H2 encoding operations) the `tfw_http_hdr_split()` procedure is called twice for the same header: [here](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/hpack.c#L2988) and [here](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/hpack.c#L3596); maybe it is worth to call this procedure only once, but earlier - in the beginning of @tfw_hpack_encode() function, before the `tfw_hpack_encoder_index()` procedure call;

3. In case of Huffman-encoded header name and/or value - it is worth to allocate (and assign to `it->rspace`) a bit more size of memory [here](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/hpack.h#L258); e.g. as mentioned in [Exploring HTTP/2 Header Compression](https://www.mew.org/~kazu/doc/paper/hpack-2017.pdf) section 3.2 - Huffman can compress by 20% on average, which means that allocation about 125% of initial Huffman-encoded size (i.e. `res_len = len + len/4`) will help to avoid in most cases additional space allocations and `TfwStr` expansions in `tfw_hpack_huffman_write()` procedure (note, that in this case the warnings for `it->rspace` [here](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/hpack.h#L256) and in other similar places should be removed);

4. If `tfw_hpack_exp_hdr()` function is called [here](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/hpack.c#L293), then the intersection with `it->parsed_hdr` descriptor allocations in `req->pool` is occurred, and the following parsing of the header's value will require the full re-allocations in `req->pool` (instead of fast path) in `tfw_pool_realloc()` procedure; this problem can be avoided either via the another pool addition (specially for `it->hdr` descriptors), or via the re-initialization of `it->hdr` descriptor; in the latter variant the `it->hdr` will be reinitialized in any case here -  with new values of `it->pos` and `length` (like in `BUFFER_NAME_OPEN()` macro), and old descriptors(s) in `it->hdr` for header's name will be just forgotten (as they are not needed any more, since the name is parsed by now, and all necessary information is already in `it->parsed_hdr`); note however, that in this variant the intersection with `it->parsed_hdr` descriptor allocations in `req->pool` can still take place if `it->hdr` became compound during Huffman decoding of header's value, but considering changes proposed in p.3 above - the case of `tfw_hpack_exp_hdr()` calling from `tfw_hpack_huffman_write()` should be very rare, thus in most cases `it->hdr` should remain plain and intersections will not occur;

5. For now TempestaFW does not know static indexes for headers which are defined in configuration file for [adding](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/http.c#L4646), [substituting](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/http.c#L4166) or [appending](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/http.c#L4161), but this headers are fully known on configuration stage, so it is worth try to determine static indexes for them; looks like two ways are possible: either to allow the specification of static indexes for corresponding headers directly in the configuration file, or to implement something like tag search in [Exploring HTTP/2 Header Compression](https://www.mew.org/~kazu/doc/paper/hpack-2017.pdf) section 3.1 (in part devoted to headers defined in static table) - on configuration stage;

6. Since [tfw_h2_stream_id()](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/http_frame.c#L700) function is called only from request receive path, and there must not be concurrent access to `req->stream` until request will be passed to the server connection - locking in `tfw_h2_stream_id()` can be removed;

7. Perhaps it would be wise to create the version of [tfw_h2_stream_id_close()](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/http_frame.c#L723) procedure for cases when it is called from request receive path (e.g. from request processing in cache - [here](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/cache.c#L2182) and [here](https://github.com/tempesta-tech/tempesta/blob/50ce6e289b989e396d7a6d17797b23f843efa21c/tempesta_fw/cache.c#L769)), since there must not be concurrent access to `req->stream`, and it must be valid (non-NULL) until request will be passed to the server connection.

The bugs should be fixed in 0.7, while performance optimizations can be done in 0.8.

- [ ] Legacy code from h1 version in [__h2_parse_http_date](https://github.com/tempesta-tech/tempesta/blob/7b8681ca88dfa768c944f2f1058e25a31e842828/fw/http_parser.c#L7985)

> Implement optiomization for non-progressive resources https://tempesta-tech.com/knowledge-base/HTTP2-streams-prioritization/#tempesta-fw We should not share bandwidth for same-weight sibling streams.

Probably we should not do this. I tested Firefox, Chome and Edge browsers using https://www.webpagetest.org/ and only Firefox do not use `EXCLUSIVE` flag for non progressive resources (see the screenshot for Edge at the below). It's [known](https://tempesta-tech.com/knowledge-base/HTTP2-streams-prioritization/) that Opera also uses `EXCLUSIVE`. So this optimization would be made _only_ for progressive JPEG for Firefox, which is too narrow case for an optimization.

![image](https://github.com/tempesta-tech/tempesta/assets/884694/b1dfc542-261c-4663-9a5e-7feec5bd2116)

However, this is not the end of story. Here is a waterfall emulation for Chrome (also for our website):

![image](https://github.com/tempesta-tech/tempesta/assets/884694/7444ef40-b786-4545-8ee1-ed226ef2b4f5)

and here is HTTP/2 streams dependency graph for the same run:

![image](https://github.com/tempesta-tech/tempesta/assets/884694/58854140-f9c3-481e-af6b-b5b3a92c1505)

Streams 5 (jquery.min.js) and 7 (tempesta_technologies_logo.png) (rows 3 and 4 in the waterfall graph) share bandwidth, which can be observed from both the dependency and the waterfall graphs. They should not share bandwidth. And the waterfall graph also reports both the streams as `EXCLUSIVE`. Also it can be observed that the image streams are actually overlap in downloading, so it seems they do share resources.

The late images downloading is not crucial, but the first resources before reaching LCP are very crucial and people (e.g. me) do spend a lot of time for LCP optimizations. It could make sense to download JS code before the image to let it execute, while the image is being downloaded.

On the frontend side I can [specify](https://web.dev/articles/fetch-priority) prefetch priority as `low`, `high` or unspecified. But I can not define HTTP/2 streams priority, so there is a very limited capability to specify the exact order of resources downloading.

This requires more research and the results must be published in the [wiki](https://tempesta-tech.com/knowledge-base/HTTP2-streams-prioritization/).

- [ ] Move tls encryption from linux kernel code to Tempesta FW source code. Previously we encrypt each skb separately according limit, which is calculated in `tcp_write_xmit` on each loop iteration. But after discussion we decide, that there is no sense to make encryption only for one skb according to this limit. We can encrypt TLS_MAX_PAYLOAD SIZE bytes at a time, but not more then current TCP window. We can calculate (and already calculate this window, when we make http2 frames). So we can make tls encryption at the same point.

@EvgeniiMekhanik whihc tls encryption function(s) exactly do you mean? I'm not sure about this since with #1504 we moved `tls_encrypt()` from Tempesta to the kernel in https://github.com/tempesta-tech/linux-tls/commit/d97acae8df73788e3c40c78c747fe3d84ef3be6c . @const-t FYI

I debug messages to Tempesta FW in several places (when we create stream, when we make frames, when we change stream dependency according priority frames. But I don't see that some streams share bandwidth when we use chromium. Chromium always build priority tree with exclusive flag and always change stream dependency with exclusive flag, so tree is always looks like a list.

- [ ]  During exploring how chromium creates and prioritizes streams it was found that chromium always does it with exclusive flag. That's why for chromium priority tree is a list of streams. It is a problem for our scheduler because we go from level to level in scheduler find active stream. For the least priority stream we have O(N) . So we should remove stream from the priority tree after sending all data if this stream is only one on this level.

I explored youtube.com, ebay.com, facebook.com and images.google.com and none of them use progressive JPEG. Some sources mention that the hyperscallers use various optimization techniques and I may observe no progressive JPEGs due to various factors, e.g. good connection. But the point is that we *never see the case, where we actually make a decision on a resource weight* (except Firefox). So why to have ebtrees? Since we have linked lists of dependencies, we make decision on dependency solely, not weight. Aren't simple linked list good enough instead of ebrees?

We already have dependency tree, because each stream contains `TfwStreamSchedEntry` which contains
`struct  eb_root active and struct eb_root blocked;` which are the root of blocked and active childs! For chromium we have eb_tree with only one element on each level! So in your example we place stream 1 on the same place  

On the call we agreed to make an optimization to not to recompute deficit and reinsert a stream if it is exclusive.

Do not remove idle streams if they are not single on its level.

`h2load` is just a benchmarking tool, but it does use non-exclusive streams sharing the network bandwidth (using #2162, pay attention on stream 11):
```
[  427.452305] [tempesta fw]       Add new stream dependency: stream (id 1 deficit 4096 excl 0) depends from stream with id 0, ctx ffff88815500b5d8
[  427.456395] [tempesta fw]       Add new stream dependency: stream (id 3 deficit 4096 excl 0) depends from stream with id 0, ctx ffff88815500b5d8
[  427.461308] [tempesta fw]       Add new stream dependency: stream (id 5 deficit 4096 excl 0) depends from stream with id 0, ctx ffff88815500b5d8
[  427.467074] [tempesta fw]       Add new stream dependency: stream (id 7 deficit 4096 excl 0) depends from stream with id 0, ctx ffff88815500b5d8
[  427.474366] [tempesta fw]       Add new stream dependency: stream (id 9 deficit 4096 excl 0) depends from stream with id 0, ctx ffff88815500b5d8
[  427.490346] [tempesta fw]       Add new stream dependency: stream (id 11 deficit 4096 excl 0) depends from stream with id 0, ctx ffff88815500b5d8
[  427.500529] [tempesta fw]       Add new stream dependency: stream (id 13 deficit 4096 excl 0) depends from stream with id 0, ctx ffff88815500b5d8
[  427.510074] [tempesta fw]       Add new stream dependency: stream (id 15 deficit 4096 excl 0) depends from stream with id 0, ctx ffff88815500b5d8
[  427.519623] [tempesta fw]       Add new stream dependency: stream (id 17 deficit 4096 excl 0) depends from stream with id 0, ctx ffff88815500b5d8
[  427.530787] [tempesta fw]       Add new stream dependency: stream (id 19 deficit 4096 excl 0) depends from stream with id 0, ctx ffff88815500b5d8
[  427.922484] [tempesta fw] 192.168.100.1 "default" "GET / HTTP/2.0" 200 0 "-" "h2load nghttp2/1.43.0"
[  427.927867] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  427.935859] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  427.942510] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  427.948161] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  427.956394] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  427.966524] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  427.973643] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  427.979752] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  427.987469] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  427.994062] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.000928] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.012869] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.020356] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.027767] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.032977] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.040012] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.046210] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.055159] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.062547] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.068415] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.073641] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.081857] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.081970] [tempesta fw] 192.168.100.1 "default" "GET / HTTP/2.0" 200 0 "-" "h2load nghttp2/1.43.0"
[  428.082177] [tempesta fw] 192.168.100.1 "default" "GET / HTTP/2.0" 200 0 "-" "h2load nghttp2/1.43.0"
[  428.088541] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.104916] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.116399] [tempesta fw] 192.168.100.1 "default" "GET / HTTP/2.0" 200 0 "-" "h2load nghttp2/1.43.0"
[  428.116508] [tempesta fw]        Stream with id (17) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.122353] [tempesta fw] 192.168.100.1 "default" "GET / HTTP/2.0" 200 0 "-" "h2load nghttp2/1.43.0"
[  428.128941] [tempesta fw]        Stream with id (7) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.138977] [tempesta fw]        Stream with id (17) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.148734] [tempesta fw] 192.168.100.1 "default" "GET / HTTP/2.0" 200 0 "-" "h2load nghttp2/1.43.0"
[  428.154125] [tempesta fw]        Stream with id (19) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.161283] [tempesta fw]        Stream with id (15) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.165517] [tempesta fw]        Stream with id (7) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.169972] [tempesta fw]        Stream with id (19) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.174175] [tempesta fw]        Stream with id (15) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  428.181487] [tempesta fw]        Stream with id (17) removed from dependency tree for making frames, ctx ffff88815500b5d8
.....
[  429.019928] [tempesta fw]        Stream with id (9) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  429.022839] [tempesta fw]        Stream with id (13) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  429.025755] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  429.028449] [tempesta fw]        Stream with id (17) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  429.032650] [tempesta fw]        Stream with id (7) removed from dependency tree for making frames, ctx ffff88815500b5d8
....
[  429.065219] [tempesta fw]        Stream with id (13) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  429.068462] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  429.071297] [tempesta fw]        Stream with id (17) removed from dependency tree for making frames, ctx ffff88815500b5d8
....
[  429.099330] [tempesta fw]        Stream with id (13) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  429.103279] [tempesta fw]        Stream with id (11) removed from dependency tree for making frames, ctx ffff88815500b5d8
[  429.105973] [tempesta fw]        Stream with id (17) removed from dependency tree for making frames, ctx ffff88815500b5d8
...
```

As a result (w/o debug printing) we have much better timing for smaller number of streams
```
h2load -n 1000 -c 1 -t 1 -m 10 https://tempesta-tech.com
starting benchmark...
spawning thread #0: 1 total client(s). 1000 total requests
TLS Protocol: TLSv1.2
Cipher: ECDHE-ECDSA-AES128-GCM-SHA256
Server Temp Key: ECDH P-256 256 bits
Application protocol: h2

finished in 900.00ms, 33.33 req/s, 9.29MB/s
requests: 1000 total, 40 started, 30 done, 30 succeeded, 970 failed, 970 errored, 0 timeout
status codes: 30 2xx, 0 3xx, 0 4xx, 0 5xx
traffic: 8.36MB (8762507) total, 728B (728) headers (space savings 94.58%), 8.35MB (8755770) data
                     min         max         mean         sd        +/- sd
time for request:   190.24ms    299.48ms    237.41ms     35.62ms    60.00%
time for connect:     4.88ms      4.88ms      4.88ms         0us   100.00%
time to 1st byte:   199.67ms    199.67ms    199.67ms         0us   100.00%
req/s           :      33.34       33.34       33.34        0.00   100.00%
```
```
h2load -n 1000 -c 1 -t 1 -m 100 https://tempesta-tech.com
starting benchmark...
spawning thread #0: 1 total client(s). 1000 total requests
TLS Protocol: TLSv1.2
Cipher: ECDHE-ECDSA-AES128-GCM-SHA256
Server Temp Key: ECDH P-256 256 bits
Application protocol: h2
progress: 10% done
progress: 20% done
progress: 30% done
progress: 40% done
progress: 50% done
progress: 60% done
progress: 70% done
progress: 80% done
progress: 90% done

finished in 1.47s, 5.43 req/s, 1.51MB/s
requests: 1000 total, 1000 started, 908 done, 8 succeeded, 992 failed, 992 errored, 0 timeout
status codes: 8 2xx, 0 3xx, 0 4xx, 0 5xx
traffic: 2.23MB (2339125) total, 486B (486) headers (space savings 86.44%), 2.22MB (2324800) data
                     min         max         mean         sd        +/- sd
time for request:      1.28s       1.43s       1.36s     53.59ms    62.50%
time for connect:     5.02ms      5.02ms      5.02ms         0us   100.00%
time to 1st byte:      1.29s       1.29s       1.29s         0us   100.00%
req/s           :       5.43        5.43        5.43        0.00   100.00%
```

@EvgeniiMekhanik Propose to rewrite [this code](https://github.com/tempesta-tech/tempesta/blob/c4aef1140712ebabb89c27400dd5b4375482c0fc/fw/http.c#L3924) to 
```
if (unlikely((r = ...))
   goto err;
```

