Forbid all necessary trailer headers

## Scope

[RFC](https://datatracker.ietf.org/doc/html/rfc7230#section-4.1.2) says:
```
   A sender MUST NOT generate a trailer that contains a field necessary
   for message framing (e.g., Transfer-Encoding and Content-Length),
   routing (e.g., Host), request modifiers (e.g., controls and
   conditionals in Section 5 of [RFC7231]), authentication (e.g., see
   [RFC7235] and [RFC6265]), response control data (e.g., see Section
   7.1 of [RFC7231]), or determining how to process the payload (e.g.,
   Content-Encoding, Content-Type, Content-Range, and Trailer).
```
Part of the work is done in the `process_trailer_hdr` in simple way, but it's just a part of all headers, need to block the rest.

## Testing

Uncomment `TODO #AAA` tests - they should become passed. Also maybe find more headers that need to block (see `XXX` comment above these tests.


It seems there are two ways to fix the issue:
1. define all the known headers in the enum and pass the id to the trailer verification function
2. hook a/the trailer verification function in the same states for all the known headers, but without assigned ids, (e.g. when we start to process the header value) and check the parser spaces in this function