If-none-match: header nonsingular

# Scope

If-none-match: header is accidenatly classified as singular
whereas in accordance with [RFC 7232 Section 3.2]https://datatracker.ietf.org/doc/html/rfc7232#section-3.2
and [RFC 7230 Section 3.2.2]https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.2
the header is non-singular.

Patch to solve the problem can be imported from REDS3 project, PR 174,
files `http_parser/http_parser.h` and `http_parser/tfw_http_msg.c`
however it seems that solving the problem independently is much simple
than import from REDS3 project.


I didn't find any reason for `If-None-Match` as a singular header. We need to make the header not singular and iterate over it as a duplicate string in `cache.c`.