Functional test for HTTPS

Need to develop functional tests for following HTTPS aspects. Consider original [mbedTLS test suite](https://github.com/ARMmbed/mbedtls/tree/development/tests/suites) for porting to implement the validations.

## TLS tests

- [x] stress test for new HTTPS connections establishing
- [x] Test data consistency transfered through Tempesta (e.g. compare hash of an original file and received on client side). Responses and requests passed to Tempesta must have different sizes. 
- [x] Exceeding processing limits in handshake messages, e.g. more than `TTLS_HS_CS_MAX_SZ` cipher suites, other limits also must be tested
- [x] Test certificates and private keys for RSA and EC ciphers and SHA256 and SHA512 hash. Unsupported certs (e.g. signed with SHA1) must be correctly declined by Tempesta FW (add a note to the Wiki)
- [x] Try to establish SSL {1,2,3}.0 and TLS 1.{0,1} and verify that the connections are correctly terminated
- [x] correct blocking of TLS messages (handshake, data, alerts, change cipher spec) with incorrect header values (type, version, length etc.) on all TLS session phases (not only handshakes)
- [x] TLS false start (#834, ALPN is required on client side). *(The RFC [seems dead](https://github.com/tempesta-tech/tempesta/issues/834#issuecomment-509193515), so we're not going to implement it)*
- [x] per-vhost certificates handling and [SNI](https://en.wikipedia.org/wiki/Server_Name_Indication) extensions for different vhosts listening on the same IP (#715)
- [x] TLS extensions described in RFC 6066 (not all of them are supported), including wrong extension size and types in ClientHello
- [x] TLS ticket-based ([RFC 5077](https://tools.ietf.org/html/rfc5077)) sessions resumption (we don't support old-fashion session resumption by session ID) *(The functionality isn't implemented yet, so the test was moved to #1054.)*
- [x] [HSTS](https://en.wikipedia.org/wiki/HTTP_Strict_Transport_Security), depends on #511 since `Strict-Transport-Security` header must be added and #856. Test the new header together with a redirection. *(The full support of HSTS requires HTTP redirects (#856) while simple header additional is already tested in `vhost/test_add_hdr.py`, so there is nothing to do at this time and I just added the test requirement to #856.)*
- [x] Some attacks from [RFC 7457](https://tools.ietf.org/html/rfc7457) are good to test (regardless most of them are outdated)
- [x] stale certificates with overdue less than 1-minute don't pass validation.
- [x] dynamic [optimal TLS record size](https://hpbn.co/transport-layer-security-tls/#optimize-tls-record-size): egress TLS records have size as `min(send_buffer, cwnd, rwnd)` and a received decrypts a TLS record from Tempesta after single transmission.
- [x] send TLS records by 1 byte to test the FSM robustness.
- [x] [Frankencert](https://github.com/sumanj/frankencert) fuzzing (see the [original paper](https://www.cs.utexas.edu/~shmat/shmat_oak14.pdf)) including SSL {1,2,3}.0 emulation. *(We have not certificates validation logic).*
- [x] send file using sendfile or from cache (#1217)

Consider to use [TLSfuzzer](https://github.com/tomato42/tlsfuzzer), [thc-ssl-dos](https://www.thc.org/thc-ssl-dos/), and [ssl-dos](https://github.com/vincentbernat/ssl-dos) tools for long running CI tests.


## Deproxy HTTPS support

Nowadays most HTTP transactions are over TLS and there are almost no plain-text HTTP any more, so please update existing tests (e.g. for web cache) to use HTTPS as well as plain text. HTTPS mode must be default for the tests hereafter.

The effort for HTTPS deproxy was made in https://github.com/tempesta-tech/tempesta-test/compare/vlad-https , but the solution seems too complicated and error prone (see https://github.com/tempesta-tech/tempesta-test/pull/96/files#r293164966). Probably it makes sense to use [`httplib.HTTPSConnection`](https://docs.python.org/2/library/httplib.html) with ready HTTP message abstractions for deproxy rather than [ssl module](https://docs.python.org/2/library/ssl.html) plus our home brew HTTP messages.

Done with https://github.com/tempesta-tech/tempesta-test/pull/103