Implement limitations on HTTP header fields in a chunked trailer

Per [RFC 7230 4.1.2.  Chunked Trailer Part](https://tools.ietf.org/html/rfc7230#section-4.1.2), there're limitation on HTTP headers that can be used in a chunked trailer:
*A sender MUST NOT generate a trailer that contains a field necessary for message framing (e.g., Transfer-Encoding and Content-Length), routing (e.g., Host), request modifiers (e.g., controls and conditionals in Section 5 of [RFC7231]), authentication (e.g., see [RFC7235] and [RFC6265]), response control data (e.g., see Section 7.1 of [RFC7231]), or determining how to process the payload (e.g., Content-Encoding, Content-Type, Content-Range, and Trailer).*

Otherwise, that may present a security problem:
*When a chunked message containing a non-empty trailer is received, the recipient MAY process the fields (aside from those forbidden above) as if they were appended to the message's header section. A recipient MUST ignore (or consider as an error) any fields that are forbidden to be sent in a trailer, since processing them as if they were present in the header section might bypass external security filters.*

Connected with #491 