QUIC & HTTP/3

There were several requests for [QUIC](https://en.wikipedia.org/wiki/QUIC) support, which is still experimental. There is Google Chromium [documentation](https://www.chromium.org/quic). Appropriate IETF discussion can be found in this [video](https://www.youtube.com/watch?v=aGvFuvmEufs). This [paper](https://static.googleusercontent.com/media/research.google.com/en//pubs/archive/46403.pdf) can be a good point to start learning the protocol. Current status of the QUIC discussions can be found at [IEFT meetings](https://datatracker.ietf.org/wg/quic/meetings/).

The [source code](https://github.com/google/proto-quic) of QUIC library.

Also see this video from BlackHat'16 https://www.youtube.com/watch?v=wCa5nylzJCo , which discusses the protocol from security point of view.

[ngtcp2](https://github.com/ngtcp2/ngtcp2) and [nghttp3](https://github.com/ngtcp2/nghttp3) have compatible licenses and can be used as a foundation for the QUIC handshakes and HTTP/3, while https://github.com/lxin/quic provides the in-kernel QUIC transport.

# Design considerations

Do not multiplex multiple streams into one packet to avoid multiple streams stall in case of the packet loss.


# Tools

- https://github.com/google/quic-trace
- QUICvis https://quic.edm.uhasselt.be/
- [quiclog](https://github.com/quiclog) for network traffic observability and the protocol debugging, also see the [FOSDEM talk](https://fosdem.org/2021/schedule/event/webperf_quic_http3_qlog_qvis/) for the usage examples

# References
- https://h3.edm.uhasselt.be/, [Resource Multiplexing and Prioritizationin HTTP/2 over TCP versus HTTP/3 over QUIC](https://h3.edm.uhasselt.be/files/ResourceMultiplexing_H2andH3_Marx2020.pdf) in particular
- [RFC 8999 Version-Independent Properties of QUIC](https://datatracker.ietf.org/doc/html/rfc8999)
- [RFC 9000 QUIC: A UDP-Based Multiplexed and Secure Transport](https://datatracker.ietf.org/doc/html/rfc9000)
- [RFC 9001 Using TLS to Secure QUIC](https://datatracker.ietf.org/doc/html/rfc9001)
- [RFC 9002 QUIC Loss Detection and Congestion Control](https://datatracker.ietf.org/doc/html/rfc9002)
- [QPACK: Field Compression for HTTP/3](https://datatracker.ietf.org/doc/html/rfc9204)
- [RFC 9218 Extensible Prioritization Scheme for HTTP](https://datatracker.ietf.org/doc/html/rfc9218)
- [Extending HTTP Semantics (draft)](https://httpwg.org/http-core/draft-ietf-httpbis-semantics-latest.html)
- [Revision of HTTP caching (draft)](https://httpwg.org/http-core/draft-ietf-httpbis-cache-latest.html)
- QUIC discussion in our HTTP/2 implementation https://github.com/tempesta-tech/tempesta/issues/309

Probably QUIC has no sense and doesn't provide any significant performance benefits with fast TLS 1.3 handshakes and [TCP fast open](https://github.com/tempesta-tech/tempesta/issues/144). Also Tmpesta's HTTP layer, especially with [#391](https://github.com/tempesta-tech/tempesta/issues/391_ point 1, is aware about network layer and vise versa. Also probably there is sense to introduce HTTP specialized TCP congestion control algorithm in opposite to QUIC's algorithms.

A recent [research](https://conferences.sigcomm.org/imc/2017/papers/imc17-final39.pdf) shows that QUIC outperforms TCP in many cases, but still worse in some cases, e.g. reordered packets. QUIC adaptation in the Internet is still [small](https://blog.apnic.net/2018/05/15/how-much-of-the-internet-is-using-quic/) - less than 10% and 98% of them are generated by Google's browser and sites. Also there are [several issues](https://blog.cloudflare.com/the-road-to-quic/) with QUIC with current implementation and existing middleboxes. However, [hardware manufactures](https://www.netdevconf.org/0x12/session.html?udp-segmentation-offload) and the [Linux kernel](https://lwn.net/Articles/752184/) take steps in getting even better performance for QUIC.

It's worth mentioning a [discussion](https://conferences.sigcomm.org/imc/2017/papers/imc17-final39.pdf) about possible performance improvements if QUIC is implemented in OS kernel.

Quic community has a spread sheet with QUIC implementations interoperability https://docs.google.com/spreadsheets/d/1D0tW89vOoaScs3IY9RGC0UesWGAwE6xyLk0l4JtvTVg/edit#gid=1268516408

QUIC has severe issues with flooding attacks and even [sophisticated algorithms](https://blog.cloudflare.com/building-rakelimit/) can not fully filer out DDoS attacks.
